
@{
    ViewData["Title"] = "home Pagina";
}

<div class="jumbotron-fluid p-4 mb-3" style="background-color:lightgray">
    <h1 class="display-4" style="font-weight:400">Welkom bij Pizza Ruben</h1>
    <p class="lead" style="font-weight:400">Pizza Ruben is een fictieve pizzeria gelegen in de gedachten van de developer van deze website. Deze developer had waarschijnlijk honger wanneer hij aan deze taak moest beginnen en heeft er daarom voor gekozen een webshop te maken voor een pizzeria.</p>
    <hr class="my-4"/>
    <p>Heb jij even veel honger als onze developer?</p>
    <p>Klik dan op onderstaande knop om jouw bestelling te plaatsen.</p>
    <a asp-controller="Assortiment" asp-action="Index" class="btn btn-primary text-light">Bestelling Maken</a>
</div>

<h2>Contact</h2>
<div class="container">
    <label class="font-weight:400 mr-2">Volg Ons:</label>
    <a class="btn btn-outline-primary text-primary" target="_blank" href="https://www.facebook.com/">Facebook</a>
    <a class="btn btn-outline-primary text-primary" target="_blank" href="https://www.instagram.com/">Instagram</a>
    <a class="btn btn-outline-primary text-primary" target="_blank" href="https://github.com/RubenVanGestel/ProjectWebapplicaties">Github</a>
</div>