@model ProjectWebapplicaties.ViewModels.PizzaAanmakenViewModel

<div>
	<a asp-action="PizzaBeheer">Terug naar pizza lijst</a>
</div>

<div class="row">
	<div class="col-md-4">
		<form asp-action="PizzaToevoegen" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Naam" class="control-label"></label>
				<input asp-for="Naam" class="form-control" />
				<span asp-validation-for="Naam" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Prijs" class="control-label"></label>
				<input asp-for="Prijs" class="form-control" />
				<span asp-validation-for="Naam" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="PizzaGrootteId" class="control-label"></label>
				<input asp-for="PizzaGrootteId" class="form-control" />
				<span asp-validation-for="Naam" class="text-danger"></span>
			</div>

			<div class="form-group">
				<input type="submit" value="Aanmaken" class="btn" />
			</div>
		</form>
	</div>
</div>

